<container class="footer">
    <row>
        <columns small="4" large="1"><a class="facebook" href="https://www.facebook.com/AADrivingSchool/"><img src="http://i.imgur.com/1TziARE.png"></a></columns>
        <columns small="4" large="1"><a class="twitter" href="https://twitter.com/bsm_driving"><img src="http://i.imgur.com/Q9vN2op.png"></a></columns>
        <columns small="4" large="1"><a class="pinterest" href="https://www.facebook.com/bsm/"><img src="http://i.imgur.com/P8QOEag.png"></a></columns>
        <columns small="12" large="9"></columns>
    </row>
    <row>
        <columns class="paddingBoth" small="12" large="12">
            <h6 class="" style=" color:#000000; font-size: 10px">You recievd this email because...Ate eossiti debissi offictusam quia velecto est, tem cum quae nim excercium nulluptatur, nobis estis arum nime pliquo dolorio evellaniet aut harioris excepel estrum sinvenduciam qui.</h6>
            <h6 class="" style="color:#000000;  font-size: 10px">Offictusam quia velecto est, unsubscribe now excercium nulluptatur, nobis estis arum ni</h6>
        </columns>
    </row>
</container>
