<container class="bsm-green-background">

    <row>
        <columns class="paddingThirty topBottomPadding mob-pad" style="vertical-align: middle"><h3 class="center-mobile">Interested?</h3>
        </columns>
        <columns class="topBottomPadding">


            <table style="width: 170px" border="0" cellspacing="0" cellpadding="0" class="mob">
                <tr>
                    <td bgcolor="#313339"
                        style=" text-align: center;padding: 12px 18px 12px 18px; -webkit-border-radius:4px; border-radius:4px"
                        align="center"><a href="http://litmus.com" target="_blank"
                                          style="font-size: 17px; font-family:'Roboto Slab',Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; display: inline-block;">Fiesta Titanium</a></td>
                </tr>
            </table>



        </columns>
        <columns class="topBottomPadding vert">


            <table style="width: 170px" border="0" cellspacing="0" cellpadding="0" class="mob">
                <tr>
                    <td bgcolor="#313339"
                        style="text-align: center;padding: 12px 18px 12px 18px; -webkit-border-radius:4px; border-radius:4px"
                        align="center"><a href="http://litmus.com" target="_blank"
                                          style="font-size: 17px; font-family:'Roboto Slab',Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; display: inline-block;">Fiesta Titanium</a></td>
                </tr>
            </table>


        </columns>
    </row>
</container>




