<container class="olive-color">
    <row class="line-height-big">
        <columns small="12" large="12">&nbsp;</columns>

    </row>

    <row>
        <columns small="12" large="2"></columns>
        <columns small="12" large="10"><p class="white small-caption">For £69 +VAT a week...</p></columns>

    </row>
    <row class="line-height-big">
        <columns small="12" large="2"></columns>
        <columns small="12" large="6"><p class="white big-caption left">Would</p></columns>
    </row>

    <row class="line-height-big">
        <columns><p class="bsm-green big-caption center">you</p></columns>

    </row>

    <row class="line-height-big">
        <columns small="12" large="5"></columns>
        <columns small="12" large="5"><p class="white big-caption right">rather...</p></columns>
    </row>

    <row class="line-height-big">
        <columns small="12" large="12" height="40">&nbsp;</columns>
    </row>

</container>